# Python
backend/__pycache__/
backend/**/__pycache__/
**/*.pyc
backend/.env
backend/oralscan.db
backend/uploads/

# Model files
*.pth
backend/ml_model/

# Node
frontend/node_modules/
node_modules/
frontend/dist/
frontend/.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db